<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>tutorial</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="nav-bar">

    </div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <a :href="link">
            <img v-bind:src="image" alt="">
          </a>
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>
          <p v-if="inventory > 10">in stock</p>
          <p v-else-if="inventory > 0 && inventory < 8">almost gone</p>
          <p v-else>out of stock</p>
          <span v-if="onSale">on sale!</span>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
